@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-normal {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    50% {
        transform: rotate3d(0, 0, 1, 180deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes spin-reverse {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    50% {
        transform: rotate3d(0, 0, 1, -180deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, -360deg);
    }
}